/***Шапка+лого***/
* {
    margin:0;
    padding:0;
}
 
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
 }
 .head {
    width:100%;
    height:100px;
    background-color: rgba(0, 0, 0, 0.35);
    text-align:center;
 }
 .navigation {
    display:inline-block;
    margin-left:80px;
 }
 .logo {
    display:inline-block;
    width:205px;
    position:relative;
 }
 .navigation>.logo>img {
    position:absolute;
    top:-50px;
    right:30px;
 }
 .navigation>li {
    display:inline-block;
    list-style: none;
    margin-right:20px;
 }

 .navigation>li>a {
    font-family:PlayfairDisplay;
    font-size:16px;
    color:#fff;
    font-weight:bold;
    line-height:100px;
    text-decoration:none;
 }
 .navigation>li:first-child>a{
    color:#f5d76e;
 }
/*Testiminials*/
.testimonials{
    width: 241px;
    height: 24px;
    font-family: PlayfairDisplay;
    font-size: 32px;
    font-weight: bold;
    line-height: 0.75;
    text-align: left;
    margin: auto;
	margin-top: 79px;
    color: #28211f;
  }
.testimonialsimg {
    height: 425px;
    object-fit: contain;
    padding-top: 60px;
    margin-top: 30px;
}
.bruno-bergher {
    border-radius: 50px; 
    margin-left:80%;
    margin-top:30px;
}
.chris-parker{
    width 118px;
    height 17 px;
    font-family:PlayfairDisplay;
    font-size:20px;
    font-weight:bold;
    line-height:1.2;
    padding-left:79%;
    color:#f5d76e;

}
.nisi-elit-consequat{
    width:256px;
    height75px;
    font-family:Lato;
    font-size:16px;
    line-height:1.31;
    text-align:center;
    color:#ffffff;
    padding-left:74%;
}
.layer {
    opacity: 0.1;
    width: 111px;
    height: 50px;
    font-family: PlayfairDisplay;
    font-size: 90px;
    font-weight: bold;
    line-height: 0.23;
    margin-left:67%;

  
}
.layer1{
    width: 77px;
    height: 57px;
    opacity: 0.1;
    font-family: PlayfairDisplay;
    font-size: 200px;
    font-weight: bold;
    line-height: 0.11;
    text-align: left;
    margin-left:90%;
}
/*Location*/
.location-houston-city {
    width: auto;
    height: 425px;
    object-fit: contain;
	padding-bottom: 15px;
}
.location-left {
    background-color: #f5d76e;
    float:left;
    width: 36%;
    height: 425px;
    margin-left:15px;
}
.location-right {
    height: 425px;
    width:calc(64% - 30px);
    float:right;
    margin-right:15px;
}
.location {
    text-transform:uppercase;
    width: 167px;
    height: 84px;
    font-family: PlayfairDisplay;
    font-size: 32px;
    font-weight: bold;
    line-height: 0.75;
    text-align: left;
    color: #28211f;
    margin:auto;
	padding-top: 80px;
}
.location-menu-max {
    text-transform:uppercase;
    margin-left:50px;
    height: 24px;
    font-family: PlayfairDisplay;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4;
    text-align: left;
    color: #28211f;
}
.location2 {
    margin-top:59px;
    width: 105px;
}
.hours {
    margin-top:37px;
    height: 16px;
}
.happy-hour {
    margin-top:44px;
    height: 16px;
}
.location-menu-min {
    margin-left:50px;
    width: 80%;
    font-family: Lato;
    font-size: 16px;
    color: #28211f;
    text-align: left;
    line-height: 1.75;
    font-weight: bold;
}
.place {
    margin-top:23px;
    height: 38px;
    font-weight: 600;
}
.mon {
    margin-top:27px;
    height: 12px;
}
.sunday {
    margin-top:19px;
    height: 15px;
}
/*Подвал*/

.container {
    width: 100%;
    height: 308px;
    background-color: #39312f;
}
.social{
    text-align: center;
    padding-top: 90px;
}

.Copyright{
    text-align:center; 
    width: 100%;
    height: 15px;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: #ffffff;
    padding-top: 35px;
    
}
