body {
cursor: url(../image/Arrow.cur), url(../image/Arrow.cur), default;
}
/**Шапка+лого**/
{
    margin:0;
    padding:0;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.head {
    width:100%;
    height:100px;
    background-color: rgba(0, 0, 0, 0.35);
    text-align:center;
}
.navigation {
    display:inline-block;
    margin-left:80px;
}
.logo {
    display:inline-block;
    width:205px;
    position:relative;
}
.navigation>.logo>img {
    position:absolute;
    top:-50px;
    right:30px;
}
.navigation>li {
    display:inline-block;
    list-style: none;
    margin-right:20px;
}

.navigation>li>a {
    font-family:PlayfairDisplay;
    font-size:16px;
    color:#fff;
    font-weight:bold;
    line-height:100px;
    text-decoration:none;
}
.navigation>li:first-child>a {
    color:#f5d76e;
}
/*banner*/
.header {
    background-image: url(../image/coffee-shop.jpg);
    height: 700px;
    background-size: cover;
}
.coffee-shop {
    width: 100%;
    object-fit: contain;
}
.Welcome {
    height: 39px;
    font-family: PlayfairDisplay;
    font-size: 48px;
    font-weight: bold;
    line-height: 0.58;
    color: #f5d76e;
    margin-top: 200px;
}
@media(min-width:1000px) {
.Welcome {
    width: 444px;
    margin-left: 20%;
}
}
@media(max-width:999px) {
.Welcome {
    width: 600px;
    margin-left: calc(20% - 80px);
}
}
.Enjoy {
    width: 436px;
    height: 39px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    color: #ffffff;
    margin-left: 21%;
}
.buttonsee {
    width: 185px;
    height: 39px;
    margin-left: 21%;
    border: solid 2px #ffffff;
    margin-top: 38px;
    padding-top: 16px;
}
.textsee {
    width: 66px;
    height: 10px;
    font-family: Lato;
    font-size: 13px;
    font-weight: 900;
    line-height: 1.85;
    letter-spacing: 0.3px;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
}
/*Cover*/
.cover {
	margin:auto;
	width:100%;
	max-width:1920px;
}
.icon-coffee {
    width:39px;
    height:39px;
    margin:80px auto;
}
.button-see-full-menu-block {
    width:234px;
    height:60px;
    color: #000000;
    background: rgba(0,0,0,0);
    border: solid 2px #000000;
    font-weight: 900;
    text-transform:uppercase;
    text-align:center;
}
.button-see-full-menu-block-min {
    width:234px;
    margin:auto;
}
.menu-text {
    font-family: PlayfairDisplay;
    font-size: 32px;
    font-weight: bold;
	text-transform:uppercase;
	text-align:center;
	margin-top:60px;
	margin-bottom:60px;
}
.text-coffee {
    font-family: PlayfairDisplay;
    font-size: 32px;
    font-weight: bold;
	text-transform:uppercase;
	text-align:center;
	margin-top:60px;
}
.text-block { 
    font-family: Lato;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #28211f;
}
.menu-top-coffe {
	background-image: url(../image/cup-of-coffee.png);
	background-size:cover;
}
.menu-top-tea {
	background-image: url(../image/tea-realisticshots.png);
	background-size:cover;
}
.menu-top-dessert {
	background-image: url(../image/dessert.png);
	background-size:cover;
}
.testimonials-right {
    height: 425px;
    margin-right:15px;
    background-image: url(../image/right.png);
    background-size:100% 100%;
	text-align:center;
}
.testimonials-author {
    color: #f5d76e;
    font-family: PlayfairDisplay, serif;
    font-weight: 600;
    font-size: 20px;  
	text-align:center;
}
.testimonials-author3 {
    color:#ffffff;
	text-align:center;
	margin:auto;
}
.location-left {
    background-color: #f5d76e;
    height: 425px;
}
.location-menu-max {
    text-transform:uppercase;
    margin-left:50px;
    height: 24px;
    font-family: PlayfairDisplay;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4;
    text-align: left;
    color: #28211f;
}
.location2 {
    margin-top:59px;
    width: 105px;
}
.hours {
    margin-top:37px;
    height: 16px;
}
.happy-hour {
    margin-top:44px;
    height: 16px;
}
.location-menu-min {
    margin-left:50px;
    width: 80%;
    font-family: Lato;
    font-size: 16px;
    color: #28211f;
    text-align: left;
    line-height: 1.75;
    font-weight: bold;
}
.place {
    margin-top:23px;
    height: 38px;
    font-weight: 600;
}
.mon {
    margin-top:27px;
    height: 12px;
}
.sunday {
    margin-top:19px;
    height: 15px;
}
@media(min-width:1000px){
.menu-blocks {
	width:32%;
	height:800px;
	float:left;
	margin-left:1%;
}
.menu-top {
	height:294px;
	width:100%;
	text-align:center;
    font-family: PlayfairDisplay;
    font-size: 40px;
    font-weight: bold;
	text-transform:uppercase;
    padding-top:220px;
}
.menu-bottom-left {
	padding-top:45px;
	float:left;
    margin-left:14%;  
    font-family: Lato;
    font-weight: 900;
	font-size: 16px;
    line-height: 1.75;
    text-align: left;
    height:206px;
}
.menu-bottom-right {
	margin-top:45px;
	float:right;
	margin-right:14%;  
    font-family: Lato;
	font-size: 16px;
    line-height: 1.75;
    height:206px;
}
.testimonials-all {
    height: 560px;
}
.testimonials-left {
    height: 425px;
    margin-left:15px;
    background-image: url(../image/left.png);
    background-size:100% 100%;
    float:left;
    width: 65%;
}
.testimonials-right {
    width:calc(35% - 30px);
    float:right;
}
.testimonials-author2 {
    width:84px;
    height:84px;
	margin-top:100px;
}
.testimonials-author {
    text-align:center;
    width:240px;
    left:calc(81.5% - 120px);
	margin:15px auto;
}
.testimonials-author3 {
	left:calc(81.5% - 128px);
	width:256px;
}
.location-houston-city {
    width: auto;
    height: 425px;
    margin-bottom:15px;
}
.location-left {
    float:left;
    width: 36%;
    margin-left:15px;
}
.location-right {
    float:right;
    width:calc(64% - 30px);
    margin-right:15px;
    height: 425px;
}
}
@media(max-width:999px){
.menu-blocks {
	width:98%;
	height:500px;
	margin-left:1%;
	margin-bottom:250px;
}
.menu-top {
	height:294px;
	width:100%;
	text-align:center;
    font-family: PlayfairDisplay;
    font-size: 40px;
    font-weight: bold;
	text-transform:uppercase;
    padding-top:220px;
}
.menu-bottom-left {
	margin-top:45px;
	float:left;
    margin-left:13%;  
    font-family: Lato;
    font-weight: 900;
	font-size: 16px;
    line-height: 1.75;
    text-align: left;
}
.testimonials-all {
    height: 850px;
}
.menu-bottom-right {
	margin-top:45px;
	float:right;
	margin-right:13%;  
    font-family: Lato;
	font-size: 16px;
    line-height: 1.75;
}
.testimonials-author2 {
    background-size:100% 100%;
    margin:auto;
    width:276px;
    height:276px;
    position:absolute;
    margin-top:80px;
    left:calc(50% - 138px);
}
.testimonials-right {
    float:left;
    margin-left:15px;
    width:calc(100% - 30px);
    height:700px;
}
.testimonials-author {
    font-size: 28pt;
    margin-top:390px;
    left:calc(50% - 130px);
    text-align:center;
}
.testimonials-author3 {
    font-size: 24pt;
    width:640px;
    left:calc(52% - 320px);
}
.location-houston-city {
    width: auto;
    height: 930px;
    margin-bottom:15px;
}
.location-left {
    width: calc(100% - 30px);
    float:left;
    margin-left:15px;
}
.location-right {
    width:calc(100% - 30px);
    float:left;
    margin-left:15px;
    height:500px;
}
}
/*Подвал*/
.container {
    width: 100%;
    height: 308px;
    background-color: #39312f;
}
.social {
    text-align: center;
    padding-top: 90px;
}

.Copyright {
    text-align:center; 
    width: 100%;
    height: 15px;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: #ffffff;
    padding-top: 35px;
    
}
}