/***Шапка+лого***/
* {
    margin:0;
    padding:0;
}
 
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
 }
 .head {
    width:100%;
    height:100px;
    background-color: rgba(0, 0, 0, 0.35);
    text-align:center;
 }
 .navigation {
    display:inline-block;
    margin-left:80px;
 }
 .logo {
    display:inline-block;
    width:205px;
    position:relative;
 }
 .navigation>.logo>img {
    position:absolute;
    top:-50px;
    right:30px;
 }
 .navigation>li {
    display:inline-block;
    list-style: none;
    margin-right:20px;
 }

 .navigation>li>a {
    font-family:PlayfairDisplay;
    font-size:16px;
    color:#fff;
    font-weight:bold;
    line-height:100px;
    text-decoration:none;
 }
 .navigation>li:first-child>a{
    color:#f5d76e;
 }
 
 /*Блок COFFEE*/
 .item-1::before 
  {
     background-repeat: no-repeat;
  
     width: 395.9px;
  
     height: 293.9px;
  
}
 .Menu {
    text-transform:uppercase;
    width: 167px;
    height: 84px;
    font-family: PlayfairDisplay;
    font-size: 32px;
    font-weight: bold;
    line-height: 0.75;
    text-align: left;
    color: #28211f;
    margin:auto;
	padding-top: 1138px;
	text-align: center;
}

.menu-basic
 {
     float: left; 
     margin-left:15px;
	 list-style: none;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
     -ms-flex-negative: 1;
     flex-shrink: 1;
 
}

.menu-basic b 
 {
     position: absolute;
     font-family: 'Playfair Display', serif;
     text-transform: uppercase;
     font-size: 40px;
     top: 30%;
     left: 50%;
     -webkit-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
     transform: translateX(-50%);
     text-align: center;
     
  }
     
.menu-basic table 
 {
     width: 270px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 30px;
 
}
.menu-basic td:first-of-type {
    font-weight: 800;
}

.item-3
 {
    position: relative;
 }
 
 
 /*Блок TEA*/
 .item-1::before {
   /* content: url("image/tea-realisticshots.png");*/
    background-repeat: no-repeat;
    width: 397.2px;
    height: 295px;
}

.item-2 {
	text-align: left;
}

.menu-offers {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}

.menu-offers b {
    position: absolute;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-size: 40px;
    top: 30%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
 }

.menu-offers table {
    font-family: 'Lato', serif;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.menu-offers td:first-of-type {
    font-weight: 800;
}

.item-1 {
	position:relative;
    text-align: center;
	width: 100%;
}
 
/*Location*/
.location-houston-city {
    width: auto;
    height: 425px;
    object-fit: contain;
	padding-bottom: 15px;
}
.location-left {
    background-color: #f5d76e;
    float:left;
    width: 36%;
    height: 425px;
    margin-left:15px;
}
.location-right {
    height: 425px;
    width:calc(64% - 30px);
    float:right;
    margin-right:15px;
}
.location {
    text-transform:uppercase;
    width: 167px;
    height: 84px;
    font-family: PlayfairDisplay;
    font-size: 32px;
    font-weight: bold;
    line-height: 0.75;
    text-align: left;
    color: #28211f;
    margin:auto;
	padding-top: 80px;
}
.location-menu-max {
    text-transform:uppercase;
    margin-left:50px;
    height: 24px;
    font-family: PlayfairDisplay;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4;
    text-align: left;
    color: #28211f;
}
.location2 {
    margin-top:59px;
    width: 105px;
}
.hours {
    margin-top:37px;
    height: 16px;
}
.happy-hour {
    margin-top:44px;
    height: 16px;
}
.location-menu-min {
    margin-left:50px;
    width: 80%;
    font-family: Lato;
    font-size: 16px;
    color: #28211f;
    text-align: left;
    line-height: 1.75;
    font-weight: bold;
}
.place {
    margin-top:23px;
    height: 38px;
    font-weight: 600;
}
.mon {
    margin-top:27px;
    height: 12px;
}
.sunday {
    margin-top:19px;
    height: 15px;
}
/*Подвал*/

.container {
    width: 100%;
    height: 308px;
    background-color: #39312f;
}
.social{
    text-align: center;
    padding-top: 90px;
}

.Copyright{
    text-align:center; 
    width: 100%;
    height: 15px;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: #ffffff;
    padding-top: 35px;
    
}
