.container {
	width: 100%;
	height: 308px;
	background-color: #39312f;
	margin-top: -7px;
	margin-left: -7px;
}
.social{
	text-align: center;
	padding-top: 90px;
}

.Copyright{
    text-align: center;
	width: 437px;
	height: 15px;
	font-family: Lato;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.5;
	letter-spacing: 0.4px;
	color: #ffffff;
	padding-top: 35px;
	padding-left: 39%;
}
